$headerBg: #000;
$text: #d9dadc;
$textHover: #1ed760;
$mainBg: rgb(41, 65, 171);
$mainBgCover: url('https://www-growth.scdn.co/static/home/bursts.svg');
$phoneBgCover: url('https://www-growth.scdn.co/static/home/bursts-mobile.svg');
$mainTextLight: #1ed760;
$mainButton: #2941AB;
$footerText: #919496;
$font: 'Rubik', sans-serif;